{% extends "base.html" %}


{% block scripts %}
    <script src="static/js/check_file.js?v=10"></script>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="baseContainer">
        <div class="header">
            Check file
        </div>
        <form>
            <div class="formGroup">
                <input
                        id="file_check_input"
                        type="text"
                        autoComplete="off"
                        placeholder="file id"
                />
            </div>

            <div>
                <button id="file_check_btn" type="button" class="btn">
                    Check file
                </button>
            </div>
        </form>
    </div>
    <div id="file-data-container-top">
        <p id="file-data-container"></p>
    </div>
</div>

{% endblock %}