{% extends "base.html" %}


{% block scripts %}
    <script src="static/js/get_file.js?v=5"></script>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="baseContainer">
        <div class="header">
            Get file
        </div>
        <form>
            <div class="formGroup">
                <input
                        id="file_get_input"
                        type="text"
                        autoComplete="off"
                />
            </div>

            <div>
                <button id="file_get_btn" type="button" class="btn">
                    Get
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}